<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Historial</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-list>
  <ion-item *ngFor="let historial of history" (click)="openLink(historial.content)">

    <ion-icon [name]="
    historial.content.indexOf('http') != -1 ? 'globe': 
    historial.content.indexOf('geo') != -1 ? 
    'pin':'help-circle'
    
    "></ion-icon>

    <ion-label>{{historial.content}}</ion-label>
    <ion-icon name="close" (click)="deleteHistory(historial.content)"></ion-icon>
  </ion-item>

</ion-list>

</ion-content>
