<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Historial</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-list>


  <ion-item *ngFor="let historial of history" >

    <ion-button fill="clear">
      <ion-icon slot="icon-only" [name]="generaIcon(historial.content)"></ion-icon>
    </ion-button>

    <ion-label>
      <h2 (click)="openLink(historial.content)">{{historial.content}}</h2>
      <p>{{historial.date | date: 'dd/mm/yyyy'}}</p>
    </ion-label>
  


    <ion-button (click)="openMenu(historial.content)" fill="clear">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
 

    
  </ion-item>

</ion-list>

</ion-content>
